<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<p class="navbar-brand">meantToBe</p>
	<a class="">About Us</a>
	<ul class="navbar-nav mr-auto list-inline">
		<li class="list-inline-item nav-item">About us</li>
		<li class="list-inline-item nav-item">Log in</li>
		<li class="list-inline-item nav-item">Sign up</li>
	</ul>
</nav>