<%- include("partials/header") -%>

<div class="m-3">
  <h1>Login</h1>
  <form>
    <form>
      <label
        >Username: <br />
        <input placeholder="egg@meanttobe.me"
      /></label>
    
      <br />
      <label
        >Password: <br />
        <input type="password" placeholder="Enter Password"
      /></label>
      <br />
      <button type="submit" class="bt btn-dark mt-2">Log in</button>
    </form>
  </form>
</div>

<<<<<<< HEAD
        <label>Username:</label>
        <input placeholder = "Enter Username">
        <label>Password: </label>
        <input placeholder = "Enter Password">

    <button type = "submit" class = "bt btn-dark">Login</button>

<%- include("partials/footer") -%>
=======
<%- include("partials/footer") -%>
>>>>>>> b04ce88dd47ffc5a834089695a0d5020da07cd00
