<%- include("partials/header") -%>

<div class="m-3">
  <h1>Login</h1>
      <label
        >Username: <br />
        <input placeholder="egg@meanttobe.me"
      /></label>
    
      <br />
      <label
        >Password: <br />
        <input type="password" placeholder="Enter Password"
      /></label>
      <br />
      <button type="submit" class="bt btn-dark mt-2">Log in</button>
    </form>
  </form>
</div>

<%- include("partials/footer") -%>
