<%- include("partials/header") -%>

    <h1>Login</h1>

    <label>Username:</label>
    <input placeholder = "Enter Username">
    <label>Password: </label>
    <input placeholder = "Enter Password">

    <button type = "submit" class = "bt btn-dark">Login</button>

<%- include("partials/footer") -%>