<%- include("partials/header") -%>

<div class="m-3">
  <h1>Login</h1>
<<<<<<< HEAD
    <form class = "">
=======
  <form>
    <form>
>>>>>>> main
      <label
        >Username: <br />
        <input placeholder="egg@meanttobe.me"
      /></label>
    
      <br />
      <label
        >Password: <br />
        <input type="password" placeholder="Enter Password"
      /></label>
      <br />
<<<<<<< HEAD

      <button type="submit" class="bt btn-dark mt-2">Log in</button>
    </form>
</div>

=======
      <button type="submit" class="bt btn-dark mt-2">Log in</button>
    </form>
  </form>
</div>

>>>>>>> main
<%- include("partials/footer") -%>
