<%- include("partials/header") -%>

<div class="m-3">
    <h1>Meet the <span class ="mentee-Title">Mentees</span></h1>
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="card mentor-card">
        <div class="card-body">
          <h3 class="card-title mentee-Title">Cameron Bright</h3>
          <p class="card-text">Assistant Data Analyst at Be Lab</p>
          <p class="card-text">Current Math undergraduate at UBC.</p>

          <div>
              <p>Introduction text Introduction text Introduction text Introduction text Introduction text 
                 Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text </p>
          </div>

          <p>Available: 3 hours per week</p>
          <a href="#" class="btn mentee-Btn">Connect</a><br>
          <a href= "#" class = "">Back</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card mentor-card">
          <div class="card-body">
            <h3 class="card-title mentee-Title">Cameron Bright</h3>
            <p class="card-text">Assistant Data Analyst at Be Lab</p>
            <p class="card-text">Current Math undergraduate at UBC.</p>
  
            <div>
                <p>Introduction text Introduction text Introduction text Introduction text Introduction text 
                   Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text </p>
            </div>
  
            <p>Available: 3 hours per week</p>
            <a href="#" class="btn mentee-Btn">Connect</a><br>
            <a href= "#" class = "">Back</a>
          </div>
        </div>
      </div>
</div>

<%- include("partials/footer") -%>