<%- include("partials/header") -%>

    <div class="m-3">
        <h1>Meet the <span id ="mentor-Title">Mentors</span></h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="card mentor-card">
            <div class="card-body">
              <h3 class="card-title">Kristen Bystrom</h3>
              <p class="card-text">Data Analyst at lululemon</p>
              <p class="card-text">Recent Statistics graduate from SFU.</p>

              <div>
                  <p>Introduction text Introduction text Introduction text Introduction text Introduction text 
                     Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text </p>
              </div>

              <p>Available: 3 hours per week</p>
              <a href="#" class="btn btn-primary">Learn More</a><br>
              <a href= "#" class = "">Back</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="card mentor-card">
              <div class="card-body">
                <h3 class="card-title">Kristen Bystrom</h3>
                <p class="card-text">Data Analyst at lululemon</p>
                <p class="card-text">Recent Statistics graduate from SFU.</p>

                <div>
                    <p>Introduction text Introduction text Introduction text Introduction text Introduction text 
                       Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text Introduction text </p>
                </div>

                <p>Available: 3 hours per week</p>
                <button><a href="#" class="btn btn-primary">Learn More</a><br></button>
                <a href= "#" class = "">Back</a>
              </div>
            </div>
          </div>
    </div>

<%- include("partials/footer") -%>