<%- include("partials/header") -%>

<div class="m-3">
    <h1 class = "form-Title">Signup</h1>
<form>
  <label
    >Create a new username: <br />
    <input placeholder="egg@meanttobe.me"
  /></label>

  <br />
  <label
    >Create a password: <br />
    <input type="password" placeholder="Enter Password"
  /></label>
  <br />
  <label
    >Confirm your new password: <br />
    <input type="password" placeholder="Enter Password"
  /></label>
  <br />
  <button type="submit" class="bt btn-dark mt-2">Sign Up</button>
</form>
</div>

<%- include("partials/footer") -%>
