footer{
  background-color: #9FA8DA;
  color: #fff;
}
 
 /* Stackoverflow preview fix, please ignore */
  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

