
footer{
  background-color: #9FA8DA;
  color: #fff;
}
 
 /* Stackoverflow preview fix, please ignore */
  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
#landing-card-1 {
    width: 60%;
}

#landing-card-2 {
    width: 50%;
    float: right;
}

.br-18 {
    border-radius: 18px;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700&display=swap");

* {
  font-family: "Livvic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer {
  background-color: #9fa8da;
  color: #fff;
}

#landing {
  font-size: 24px;
}

.hero-text {
  font-size: 96px;
}

.card {
  background-color: #fff;
  padding: 60px;
  border: 1px solid black;
}

h2 {
  font-weight: bold;
  font-size: 64px;
}

h3 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 33px;
}

.card > input[type="button"] {
  display: inline-block;
  width: auto;
}

.step {
  width: 25%;
  padding: 24px;
}

/* Stackoverflow preview fix, please ignore */
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

#transform {
  margin-left: 616px;
}
#card-stack {
  margin-top: 156px;
  content: " ";
  display: table;
  clear: both;
}

#how-work {
  font-size: 64px;
  font-weight: bold;
}

#landing-card-top {
  float: left;
  margin-right: -100%;
  position: relative;
  z-index: 1;
  width: 60%;
}

#landing-card-top > p,
h2 {
  max-width: 75%;
}

#landing-card-bottom {
  margin-top: 15%;
  width: 50%;
  z-index: 1;
  float: right;
}

#footnote {
  font-size: 18px;
  margin-top: 45%;
  margin-right: -100%;
  margin-left: 17%;
  width: 35%;
  z-index: 1;
  float: left;
}

/* #footnote > p {
    max-width: 75%;
} */



