/*--- TAGS ---*/

@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700&display=swap");

* {
  font-family: "Livvic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  font-weight: bold;
  font-size: min(4vw, 64px);
}
h3 {
  font-weight: bold;
  font-size: min(3vw, 36px);
  margin-bottom: 33px;
}
form{
  text-align: center;
}
/* FORM */
.form-Title{
  text-align: center;
}
/*--- NAVBAR ---*/
.navbar-nav {
  flex-direction: row;
  height: 2vh;
}
.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}
.mint-btn{
  background-color: #61C9A8;
  display: inline-block;
  width: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: .25rem;
}
/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
.nav-item{
  padding: 1rem;
}
.not-nav-button{
  transform: translateY(10px);
}

/* LANDING CARD*/
#landing {
  font-size: min(2vw, 24px);
}

.br-18 {
    border-radius: 18px;
}
.hero-text {
  font-size: min(8vw, 96px);
}
.card{
  background-color: #fff;
  padding: 60px;
  border: 1px solid black;
}
.card > input[type="button"] {
  display: inline-block;
  width: auto;
}
.step{
  width: 25%;
  padding: 24px;
}
#header-hr{
  transform: translateY(-30px);
}
#transform {
  margin-left: 50vw;
}
#card-stack {
  margin-top: 156px;
  content: " ";
  display: table;
  clear: both;
}
#how-work {
  font-size: 64px;
  font-weight: bold;
}
#landing-card-top {
  float: left;
  margin-right: -100%;
  position: relative;
  z-index: 1;
  width: 60vw;
}
#landing-card-top > p,h2 {
  max-width: 75%;
}
#landing-card-bottom {
  margin-top: 15%;
  width: 50vw;
  z-index: 1;
  float: right;
}
#footnote {
  font-size: (1.75vw, 18px);
  margin-top: clamp(450px, 50vw, 85vh);
  margin-right: -100%;
  margin-left: 17%;
  width: 35vw;
  z-index: 1;
  float: left;
}

/* #footnote > p {
    max-width: 75%;
} */

/* Mentor */
.mentor-Title{
  color: #61C9A8;
}
.mentor-Btn{
  background-color: #61C9A8;
  color: #fff;
}
.mentor-card{
  margin: 5% 3%;
}

/* MENTEE */
.mentee-Title{
  color: #F59399;
}
.mentee-Btn{
  background-color: #F59399;
  color: #fff;
}
